# ignore the directory outputs and all its content
outputs
study_frames/Country_Selection.csv

code/Test_FullCode/Saved_data
code/Test_FullCode/Not_working_dashboards

outputs_display/.*
outputs_display/_*
outputs_display/MacroBarChart
outputs_display/MacroTables
outputs_display/MacroRadarChart
outputs_display/To_Display/*
code/Simulations/Save_Var_Resol/Index_Imaclim_VarResol.csv
code/Simulations/Save_System_Resol/SystemOpt_Static.csv
code/Test_AllConfig/Saved_Data/Dashboard_ARG.csv
