# ignore the directory outputs and all its content
.venv
outputs
MacroTables
study_frames/Country_Selection.csv
.venv
MacroTables
code/Test_AllConfig/Saved_Data/*
code/Test_AllConfig/Not_working_dashboards/*

code/Simulations/Save_Var_Resol/*
code/Simulations/Save_System_Resol/*

outputs_display/.*
outputs_display/_*
outputs_display/To_Display/*
!outputs_display/To_Display/Readme
outputs_display/MacroBarChart
outputs_display/MacroTables
outputs_display/MacroRadarChart


